################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gateway/obj
/MSAuthentication/Authentication.Api/obj
/MSEntidad/MSEntidad.Api/obj
/MSEntidad/MSEntidad.Core/obj
/MSEntidad/MSEntidad.Infra/obj
/MSEntidad/MSEntidad.Tests/obj
/MSNNA/MSNNA.Api/obj
/MSNNA/MSNNA.Core/obj
/MSNNA/MSNNA.Infra/obj
/MSNNA/MSNNA.Tests/obj
/MSSeguimiento/MSSeguimiento.Api/obj
/MSSeguimiento/MSSeguimiento.Core/obj
/MSSeguimiento/MSSeguimiento.Infra/obj
/MSSeguimiento/MSSeguimiento.Tests/obj
/MSSeguimiento/MSSeguimiento.Tests/obj/Debug/net8.0/MSSeguimiento.Tests.AssemblyInfo.cs
/MSSeguimiento/MSSeguimiento.Tests/obj/Debug/net8.0/MSSeguimiento.Tests.AssemblyInfoInputs.cache
/MSSeguimiento/MSSeguimiento.Tests/obj/Debug/net8.0/MSSeguimiento.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfo.cs
/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfoInputs.cache
/Gateway/obj/Debug/net8.0/Gateway.GeneratedMSBuildEditorConfig.editorconfig
/MSAuthentication/Authentication.Api/obj/Debug/net8.0/Authentication.Api.AssemblyInfo.cs
/MSAuthentication/Authentication.Api/obj/Debug/net8.0/Authentication.Api.AssemblyInfoInputs.cache
/MSAuthentication/Authentication.Api/obj/Debug/net8.0/Authentication.Api.GeneratedMSBuildEditorConfig.editorconfig
/MSEntidad/MSEntidad.Api/obj/Debug/net8.0/MSEntidad.Api.AssemblyInfo.cs
/MSEntidad/MSEntidad.Api/obj/Debug/net8.0/MSEntidad.Api.AssemblyInfoInputs.cache
/MSEntidad/MSEntidad.Api/obj/Debug/net8.0/MSEntidad.Api.csproj.AssemblyReference.cache
/MSEntidad/MSEntidad.Api/obj/Debug/net8.0/MSEntidad.Api.GeneratedMSBuildEditorConfig.editorconfig
/MSEntidad/MSEntidad.Core/obj/Debug/net8.0/MSEntidad.Core.AssemblyInfo.cs
/MSEntidad/MSEntidad.Core/obj/Debug/net8.0/MSEntidad.Core.AssemblyInfoInputs.cache
/MSEntidad/MSEntidad.Core/obj/Debug/net8.0/MSEntidad.Core.GeneratedMSBuildEditorConfig.editorconfig
/MSEntidad/MSEntidad.Infra/obj/Debug/net8.0/MSEntidad.Infra.AssemblyInfo.cs
/MSEntidad/MSEntidad.Infra/obj/Debug/net8.0/MSEntidad.Infra.AssemblyInfoInputs.cache
/MSEntidad/MSEntidad.Infra/obj/Debug/net8.0/MSEntidad.Infra.csproj.AssemblyReference.cache
/MSEntidad/MSEntidad.Infra/obj/Debug/net8.0/MSEntidad.Infra.GeneratedMSBuildEditorConfig.editorconfig
/MSEntidad/MSEntidad.Tests/obj/Debug/net8.0/MSEntidad.Tests.AssemblyInfo.cs
/MSEntidad/MSEntidad.Tests/obj/Debug/net8.0/MSEntidad.Tests.AssemblyInfoInputs.cache
/MSEntidad/MSEntidad.Tests/obj/Debug/net8.0/MSEntidad.Tests.GeneratedMSBuildEditorConfig.editorconfig
/MSNNA/MSNNA.Api/obj/Debug/net8.0/MSNNA.Api.AssemblyInfo.cs
/MSNNA/MSNNA.Api/obj/Debug/net8.0/MSNNA.Api.AssemblyInfoInputs.cache
/MSNNA/MSNNA.Api/obj/Debug/net8.0/MSNNA.Api.csproj.AssemblyReference.cache
/MSNNA/MSNNA.Api/obj/Debug/net8.0/MSNNA.Api.GeneratedMSBuildEditorConfig.editorconfig
/MSNNA/MSNNA.Core/obj/Debug/net8.0/MSNNA.Core.AssemblyInfo.cs
/MSNNA/MSNNA.Core/obj/Debug/net8.0/MSNNA.Core.AssemblyInfoInputs.cache
/MSNNA/MSNNA.Core/obj/Debug/net8.0/MSNNA.Core.GeneratedMSBuildEditorConfig.editorconfig
/MSNNA/MSNNA.Infra/obj/Debug/net8.0/MSNNA.Infra.AssemblyInfo.cs
/MSNNA/MSNNA.Infra/obj/Debug/net8.0/MSNNA.Infra.AssemblyInfoInputs.cache
/MSNNA/MSNNA.Infra/obj/Debug/net8.0/MSNNA.Infra.csproj.AssemblyReference.cache
/MSNNA/MSNNA.Infra/obj/Debug/net8.0/MSNNA.Infra.GeneratedMSBuildEditorConfig.editorconfig
/MSNNA/MSNNA.Tests/obj/Debug/net8.0/MSNNA.Tests.AssemblyInfo.cs
/MSNNA/MSNNA.Tests/obj/Debug/net8.0/MSNNA.Tests.AssemblyInfoInputs.cache
/MSNNA/MSNNA.Tests/obj/Debug/net8.0/MSNNA.Tests.GeneratedMSBuildEditorConfig.editorconfig
/MSSeguimiento/MSSeguimiento.Api/obj/Debug/net8.0/MSSeguimiento.Api.AssemblyInfo.cs
/MSSeguimiento/MSSeguimiento.Api/obj/Debug/net8.0/MSSeguimiento.Api.AssemblyInfoInputs.cache
/MSSeguimiento/MSSeguimiento.Api/obj/Debug/net8.0/MSSeguimiento.Api.csproj.AssemblyReference.cache
/MSSeguimiento/MSSeguimiento.Api/obj/Debug/net8.0/MSSeguimiento.Api.GeneratedMSBuildEditorConfig.editorconfig
/MSSeguimiento/MSSeguimiento.Core/obj/Debug/net8.0/MSSeguimiento.Core.AssemblyInfo.cs
/MSSeguimiento/MSSeguimiento.Core/obj/Debug/net8.0/MSSeguimiento.Core.AssemblyInfoInputs.cache
/MSSeguimiento/MSSeguimiento.Core/obj/Debug/net8.0/MSSeguimiento.Core.GeneratedMSBuildEditorConfig.editorconfig
/MSSeguimiento/MSSeguimiento.Infra/obj/Debug/net8.0/MSSeguimiento.Infra.AssemblyInfo.cs
/MSSeguimiento/MSSeguimiento.Infra/obj/Debug/net8.0/MSSeguimiento.Infra.AssemblyInfoInputs.cache
/MSSeguimiento/MSSeguimiento.Infra/obj/Debug/net8.0/MSSeguimiento.Infra.csproj.AssemblyReference.cache
/MSSeguimiento/MSSeguimiento.Infra/obj/Debug/net8.0/MSSeguimiento.Infra.GeneratedMSBuildEditorConfig.editorconfig

 
/MSNNA/.vs/MSNNA
